body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

.brand img{
  height: 75px;
  width:100px;
}
nav {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  background-color: black;
  color: antiquewhite;
  cursor: pointer;
  font-style: normal;
  font-weight: bolder;
  font-size: larger;
}

nav ul li {
  padding: 0 12px;
}

li#space {
  display: flex;
  margin-left: 10px;
  justify-content: flex-end;
  right: 0;
}

.brand img {
  width: 44px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container {
  min-height: 72vh;
  background-color: black;
  color: black;

  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 10px 10px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 20px;
  background-image: url("img.jpg");
}

.bottom {
  position: sticky;
  height: 100px;
  background-color: black;
  bottom: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  color: antiquewhite;
  flex-direction: column;

}

.icons {
  margin-top: 14px;
}

.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 70%;
  cursor: pointer;
}

.songItemContainer {
  margin-top: 80px;
}

.songItem {
  height: 50px;
  display: flex;
  background-color: rgba(223, 204, 204, 0.862);
 color: black;
  margin: 22px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
  
}

.songItem img {
  width: 43px;
  margin: 0 23px;
  border: 34px;
}

.timestamp {
  margin: 0 23px;
  
}

.timestamp i {
  cursor: pointer;
}

.songInfo {
  position: absolute;
  left: 300px;
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  top: 50px;
  font-size: larger;
}

.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  font: weight 100px;
  margin-top: 12px;
  font-size: 20px;
  color: antiquewhite;
  bottom: 0;
 
}
